<%= content_for :head do -%>
  <script type="text/javascript" src="<%= aviary_js_url-%>"></script>
  <script type='text/javascript'>
    $(document).ready(function(){
      var goBack = function(){
        window.location.href = '<%= semantic_vehicle_path(@vehicle.semantic_url_hash) -%>';
      }
     var launch = function(){
       featherEditor.launch({image: 'snapshot', url: '<%= public_url @entry.snapshot.url -%>'});
       return false;
     }

     var featherEditor = new Aviary.Feather({
       apiKey: '2fd5541ae279b553',
       apiVersion: 3,
       theme: 'dark',
       tools: 'enhance,effects,frames,orientation,focus,crop,warmth,brightness,contrast,saturation,sharpness,colorsplash',
       appendTo: '',
       postUrl: '<%= public_url photo_update_vehicle_entry_path(@vehicle, @entry) -%>',
       onLoad: function(){ launch(); },
       onSave: function(imageID, newURL) {
         goBack();
       },
       onClose: function(isDirty) {
         goBack();
       },
       onError: function(errorObj) {
         alert(errorObj.message);
       }
     });

    });
  </script>
<%- end -%>

<img src="<%= @entry.snapshot.url -%>" style="display:none" id="snapshot" />

<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center line-height-20">Loading...</h1>
  </div>
</div>
