%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %a{href: '/'} Home
    %li
      %a{href: '#'} Search
    - unless current_user 
      %li
        = link_to 'Sign in', new_user_session_path
      %li
        = register_link
      %li
        %a{href: '/#tour'} Tour
    - else
      %li
        = link_to current_user.username, '#'
      %li
        = link_to 'Acount Settings', edit_user_registration_path(current_user)
      %li
        = link_to 'Sign out', destroy_user_session_path, method: :delete

