%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %a{href: '/'} Homepage
    %li
      = link_to 'Search', search_path
    - unless current_user
      %li
        %label
          New around here?
      %li
        = link_to 'Sign in', new_user_session_path
      %li
        = register_link
    - else
      %li
        %label
          Welcome back,
          = current_user.name
      %li
        = link_to current_user.username, '#'
      %li
        = link_to 'Acount Settings', edit_user_registration_path
      %li
        = link_to 'Sign out', destroy_user_session_path, method: :delete
    %li
      %label
        - if current_user
          Your
        - else
          Unsaved
        stories
    - user_vehicles.each do |vehicle|
      %li
        = link_to vehicle.short_name, project_path(vehicle)
    %li
      = link_to "Add a new project", new_vehicle_path
