.hero
  .proportion-pad.width-100
    .abs.width-100.of-hidden.height-100p
      .still-fallback.proportion-pad
      - unless browser.mobile?
        %video.video-bg.height-100p( autoplay loop )
          %source{src: video_path('splash/homepage.mp4'), type: 'video/mp4'}
          %source{src: video_path('splash/homepage.webm'), type: 'video/webm'}
      .content.on-top.pad-top-20p
        %h1.txt-sha Begin your story
        .row
          .small-12.large-8.large-offset-2
            .row.mmy-selector
              .small-3.columns
                = make_dropdown
              .small-3.columns
                = model_dropdown
              .small-3.columns
                = year_dropdown
              .small-3.columns
                %a.button.small.pad-tb-07.expand.new-project-redirect{href: '#'} Add a project!
.row
  .small-12.medium-4.columns.text-center
    %h2 Secure
    .icon.ibl.pad-05.margin-bottom-1.opacity-03.hover-opacity-1.animate
      = inline_svg "illustrations/features/lock.svg"
    %p The entire website is locked down using SSL
  .small-12.medium-4.columns.text-center
    %h2 Mobile-ready
    .icon.ibl.pad-05.margin-bottom-1.opacity-03.hover-opacity-1.animate
      = inline_svg "illustrations/features/responsive.svg"
    %p Works in modern browsers on almost any device
  .small-12.medium-4.columns.text-center
    %h2 Community
    .icon.ibl.pad-05.margin-bottom-1.opacity-03.hover-opacity-1.animate
      = inline_svg "illustrations/features/network.svg"
    %p Forge a community resource by telling your story
