.small-12.medium-10.large-8.medium-centered.of-hidden.max-height-15.columns
  .row
    .small-3.medium-2.columns.text-center
      .icon.small.round.border-gray.ibl.p-05
        = inline_svg "illustrations/#{@vehicle.group}/#{entry.category}.svg"
      .date.text-small.monospace.font-bold
        .month-day= entry.occurred_at.strftime("%m.%d")
        .year= entry.occurred_at.strftime("%b")[0..1] + entry.occurred_at.strftime("'%y")
      .vertical-line.height-100
        &nbsp;
    .small-3.medium-4.columns
      .photo.m-b-1
        = image_tag entry.snapshot.url
    .small-6.medium-6.columns
      .body
        = entry.body
      .actions
        - if @vehicle.user == current_user
          = link_to 'Photo editor', photo_editor_vehicle_entry_path(@vehicle, entry), class: 'button secondary radius small'
