= f.error_messages
= render 'form_section', {section_name: 'overview', expanded: true, f: f}
= render 'form_section', {section_name: 'suspension', expanded: false, f: f}
= render 'form_section', {section_name: 'engine', expanded: false, f: f}
= render 'form_section', {section_name: 'drivetrain', expanded: false, f: f}
= render 'form_section', {section_name: 'exterior', expanded: false, f: f}
= render 'form_section', {section_name: 'interior', expanded: false, f: f}
= render 'form_section', {section_name: 'brakes', expanded: false, f: f}
= render 'form_section', {section_name: 'wheels', expanded: false, f: f}
