= render 'form_section', {section_name: 'general', expanded: true, f: f}
= render 'form_section', {section_name: 'suspension', expanded: false, f: f}
= render 'form_section', {section_name: 'engine', expanded: false, f: f}
= render 'form_section', {section_name: 'drivetrain', expanded: false, f: f}
= render 'form_section', {section_name: 'exterior_body', expanded: false, f: f}
= render 'form_section', {section_name: 'controls_interior', expanded: false, f: f}
= render 'form_section', {section_name: 'brakes', expanded: false, f: f}
= render 'form_section', {section_name: 'wheels', expanded: false, f: f}
