.project-section{:class => "#{'expanded' if expanded } #{section_name}"}
  %span.section-icon= expanded ? '-' : '+' 
  %h3.section-title= t("sections.#{section_name}", default: section_name.to_s.humanize)
  .section-controls.cf
    - section_fields(@vehicle.vehicle_type, section_name).each do |attr|
      = content_tag :div, { :class => "input-append half #{cycle('space', '', name: section_name)}"} do
        %span.tool-tip.input-help.input-append-thing(title="Sick descrp yo!" data-tooltip) ?
        = render_vehicle_field(@vehicle.vehicle_type, attr, f)
