.vehicle-form-section{:class => "#{'expanded' if expanded }", :"data-name" => section_name}
  .row
    %h3.section-title= t("sections.#{section_name}", default: section_name.to_s.humanize)
    .section-controls.cf
      - fields(@vehicle.group, section_name).each do |attr|
        = content_tag :div, :class => 'row' do
          = content_tag :div, :class => 'small-12 large-6 large-centered columns' do
            -#%span.tool-tip.input-help.input-append-thing(data-tooltip){:title => t("form_help.#{attr}")} ?
            = render_vehicle_field(@vehicle.group, attr, f)
      .row
        .small-12.large-6.large-centered.columns
          %a.button.small.expand Next
