.row
  - Vehicle.mod_categories.each do |cat|
    .small-12.medium-6.large-4.columns.min-height-15
      .text-center
        %h3= cat.to_s.titleize
        .icon.animate.round.border-gray.ibl.pad-05.line-height-08.margin-bottom-1{'data-category' => cat}
          = inline_svg "illustrations/#{@vehicle.vehicle_type}/#{cat}.svg"
      .text-small.height-3
        = t("mod.desc.#{cat}")
      .row
        .small-4.columns.text-right
          Stock
        .small-4.columns
          .switch.round.centered
            - name = "#{cat}_modded"
            = f.check_box name, {'data-category' => cat}
            %label{for: "vehicle_#{name}"}
        .small-4.columns.text-left
          Modified
