.projects.new
  = form_for @vehicle, html: {'multipart' => true} do |f|
    .row
      .small-12.columns
        = render 'error_messages'

    .row
      .small-12.columns
        %h1 Begin your story

        %p.margin-top-1.margin-bottom-05 1. Tell everyone what the vehicle is
        .border-dashed-gray.ibl
          = mmy_selector false, 'vehicle'

        %p.margin-top-1.margin-bottom-05 2. Upload a large photo to serve as a cover for this story
        = f.file_field :cover, {required: true, accept: 'image/jpeg,image/png'}
        = f.hidden_field :cover_cache

    .row
      .small-12.columns
        = submit_tag 'Next', class: 'button'
