.wrapper.project.cf
  .content.project.cf
    %h1.project-header Create a story for your #{@vehicle.name}

    = form_for @vehicle do |f|
      = f.hidden_field :base_vehicle_id, :value => @vehicle.base_vehicle_id
      = render 'form', :f => f
      %input.button{:type => "submit"}

  .sidebar.project
    .content-sidebar
      .modifications
        %h2.mods Current modifications
        %figure.diagram
          = image_tag 'car-diagram/blueprint.png'
      %ul.sidebar-progress
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Suspension
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Engine
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Drivetrain
        %li.sidebar-progress-item.modified
          %a.progress-link{:href => "#"}
            Exterior
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Controls
        %li.sidebar-progress-item.modified
          %a.progress-link{:href => "#"}
            Brakes
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Wheels
