.projects.new
  = form_for @vehicle, html: {'multipart' => true} do |f|
    .row
      .small-12.columns
        = render 'error_messages'

    .row
      .small-12.columns
        %h1 Begin your story

        %p.m-t-1.m-b-05 1. Tell everyone what the vehicle is
        - # mmy_selector false, 'vehicle'
        .row.mmy-selector
          .small-4.columns
            = make_dropdown 'vehicle'
          .small-4.columns
            = model_dropdown 'vehicle'
          .small-4.columns
            = year_dropdown 'vehicle'

        %p.m-t-1.m-b-05 2. Upload a large photo to serve as a cover for this story
        = f.file_field :cover, {required: true, accept: 'image/jpeg,image/png'}
        = f.hidden_field :cover_cache

    .row
      .small-12.columns
        = submit_tag 'Next', class: 'button'
