!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ]    <html class="ie7" lang="en">
/[if IE 8 ]    <html class="ie8" lang="en">
/[if IE 9 ]    <html class="ie9" lang="en">
/[if (gt IE 9)|!(IE)] <!--> <html lang="en">

%head
  = stylesheet_link_tag "application"
  %meta{ charset: "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }

  %title= html_title

  %link{href: '//fonts.googleapis.com/css?family=Sanchez|Donegal+One', rel: 'stylesheet', type: 'text/css'}
  = javascript_include_tag :all
  = csrf_meta_tag
  = content_for :head

%body
  #container.cf
    .row
      %a#logo{href: '/'} Motorstori.es
    #first-tier.contain-to-grid
      %nav.top-bar
        .container
          %ul.title-area
            %li.name
            %li.toggle-topbar.menu-icon
              %a{href: '#'}
                %span Menu
          %section.top-bar-section
            %ul.left
              %li
                = render 'shared/mmy_selector'
            %ul.right
              %li.show-for-small
                %a{href: '/'} Home
              %li.divider
              = render "shared/topnav#{ '_auth' unless current_user}"
              %li.divider
              %li.has-form
                %a.button{href: '/'} Tour
    = wrapped_flash
    = yield
    %footer
      &copy; <a href="http://downshiftlabs.com" target="_blank" rel="nofollow" title="Like what you see? Holler at us.">DownshiftLabs, LLC</a> 2012-2013.<br/>
      We hailin from East Oakland, California and, um, sometimes it gets a little hectic out there. <br/>
      Be excellent to each other.
