!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ]    <html class="ie7" lang="en">
/[if IE 8 ]    <html class="ie8" lang="en">
/[if IE 9 ]    <html class="ie9" lang="en">
/[if (gt IE 9)|!(IE)] <!--> <html lang="en">

%head
  = javascript_include_tag 'vendor/modernizr'
  = stylesheet_link_tag "application"
  %meta{ charset: "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ name:"viewport", content: "width=device-width, initial-scale=1.0" }

  %title= html_title

  %link{href: '//fonts.googleapis.com/css?family=Droid+Sans|Pacifico', rel: 'stylesheet', type: 'text/css'}
  = csrf_meta_tag
  = content_for :head
  = javascript_include_tag :all

%body
  .off-canvas-wrap(data-offcanvas)
    .inner-wrap{class: current_location}
      %header
        %a.logo-link.left-off-canvas-toggle
          - #inline_svg 'layout/logo-remix.svg'
          = image_tag 'layout/logo.png'
        = wrapped_flash
      = render 'shared/offcanvas'
      .main
        = yield
      = render 'shared/footer'
      %a.exit-off-canvas
